/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,500italic);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* top-navigation */

.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}

.content {
  padding: 0 0.938rem;
  margin: 0 auto;
  min-width: 37.5rem;
}

.top-navigation {
	height: 4.375rem;
	background-color: white;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;
}

.top-navigation .logo {
	height: 4.375rem;
}

.top-navigation .links {
	color: #838994;
	float: right;
	font-size: 1.04rem;
	margin-top: 1.7rem;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li.active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 1.563rem;
}

/* introduction */


.content {
	padding: 0 0.938rem;
  	margin: 0 auto;
  	min-width: 37.5rem;
}

.introduction {
	background-image: url('../img/first-background.jpg');
	background-position: center bottom;
  	background-repeat: no-repeat;
  	background-size: cover;
  	height: 45.938rem;
  	overflow: auto;
}

.introduction h1 {
	margin-top: 17.5rem;
  	font-size: 3.125rem;
}

.introduction h3 {
	margin-top: 1.25rem;
  	font-size: 1.563rem;
}

.introduction h1, .introduction h3 {
	 color: white;
	 text-align: center;
	 font-weight: 300;
	-webkit-font-smoothing: antialiased;
}


button {
  width: 9.688rem;
  background-color: #f15a29;
  border-color: #f15a29;
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1.125rem;
}







